{% extends 'theID/base.html' %}

{% block content %}
<style>
    p {
        font-size: 20px;
    }
    div {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<br/>
<p>The impact of climate change in northern Canada is increased for the last few years for
    environment and also for indigenous communities. Implications such as increasing frequency and
    severity of extreme weather events may result in the erosion of transportation infrastructures,
    such as rails. On the one hand, melting ice may accelerate shipping resulting in job creation
    and spurring economic activities. On the other hand, events like oil spills would affect the
    livelihoods of the right-holders (Afenyo et al., 2021). This platform proposes a technology based
    on a Baysian-network and influence diagram that estimates socioeconomic impact of oil spill
    in the Arctic communities.</br><br>
    The tool comprehensively assesses the impact on the area and related transportation modes
    (ships and rails). For example, if there is a disaster (oil spill, floods) the tool can assess
    the resilience capability of the transportation. This way, it can be used for contingency
    planning. These two modes of transportation, ships and rails, are identified as they are the
    effective and critical for economic activities in the northern Canadian region. Apart from
    socioeconomic impacts, vulnerability risk maps for disasters will be produced in monetary
    units, making it handy for insurance companies to set premiums. Furthermore, the outputs
    could be used by governments, and non-governmental organizations for planning and resource
    allocation.</p>
{% endblock %}