<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Oil Spill Impact Analysis & Decision Support System</title>
    <style>
      body {background-color: #f4f4f4;}
    </style>
  </head>
  <body>
    {% include 'theID/navbar.html' %}
    <br/>
    <div class="container">
      {% if messages %}
        {% for message in messages%}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <footer class="page-footer font-small blue">
      <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="https://umanitoba.ca/earth-observation-science/"> Centre for Earth Observation Science</a>
        <br>University of Manitoba</br>
        Application developed by: Dr. Syed Nasir Danial</br>
        Contact information: <a href="mailto:syed.danial@umanitoba.ca; snasir.danial@outlook.com">syed.danial@umanitoba.ca; snasir.danial@outlook.com</a></p>
      </div>
    </footer>
  </body>
</html>
